:root {
	--bg-gray: #f2f2f2;
	--bg-light: #f6f1f0;
	--secondary-light: #214bdc;
	--secondar-dark: #1b1d29;
	--text-light: #8b8b8b;
/*	--posts-width: 780px;
	--text-light: #ccd4db;
	--text-dark: #949494;
	--underline-color: #00ff78;*/

}



/*------------------ RESET CSS ------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*------------------ CSS ------------------*/

body {
	font-family: "HK Grotesk", "Lucida Grande", "Helvetica", sans-serif;
	font-weight: bold;
	line-height: 1.8;
	font-size: 14px;
	color: var(--text-light);
	background: var(--bg-light);
}

a {
	text-decoration: none;
	color: var(--secondary-light);
}

svg, svg * {
  pointer-events: none;
}

.wrapper {

	display: grid;
	grid-template-columns: auto;
	grid-template-rows:auto auto auto;
	grid-template-areas:
	"top"
	"content"
	"footer";
	min-height: 100vh;
	max-width: 100vw;

}

.top {
	grid-area: top;
	height: 100vh;
	background: yellow;
	background-image: url('../img/hero-image.jpg');
	background-size: cover;
}


.top__container {

}

.top__container-slogan-main {
	color: white;
	font-size: 70px;
	line-height: 75px;
}

.top__container-slogan-sub {
	color: white;
	font-size: 32px;
	line-height: 36px;

	margin-top: 30px;
}

.button-main {
	background-color: red;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 15px;
	border-radius: 30px;

	display: inline-block;
}

.button-slogan {
	margin-top: 70px;
}



.benefits__headline {
	font-size: 55px;
	line-height: 66px: 
}

.benefits__sub {
	background-color: var(--secondary-light);
}

.benefits__sub-text {
	color: white;
	font-size: 16px;
	line-height: 28px;
}

.benefits__benefit-left-number, .benefits__benefit-left-number, .how__box-number{
	font-size: 12px;
}

.benefits__benefit-left-headline, .benefits__benefit-right-headline {
	font-size: 42px;
	line-height: 46px;
}

.benefits__benefit-left-text, .benefits__benefit-right-text {

}


.how__headline {
	font-size: 55px;
}

.how__box-headline {
	font-size: 36px;
	line-height: 42px;
}

.footer {
	display: grid;
	grid-area: footer;
	/*grid-template-columns: minmax(20px, 50px) auto minmax(20px, 50px);*/
	grid-template-columns: 50px minmax(500px, auto) 50px;
	grid-template-rows:auto;
	grid-template-areas:
	"footer-left footer-content footer-right";

	margin-top: 50px;
	margin-bottom: 50px;

	/*max-width: 800px;*/
	/*justify-content: center;*/


}

.footer__container {
	grid-area: footer-content;
	background-color: var(--secondary-light);
	height: 150px;
	color: white;
	/*justify-content: center;*/
	/*align-items: center;*/

}

.footer__container-logo {
	margin-left :50px;
	margin-top: 45px;
	float: left;
	align-self: center;
	/*background-color: red;*/
}

.footer__container-text {
	margin-right: 50px;
	margin-top: 60px;
	float: right;
}


